**/.git
**/.gitignore
**/.gitattributes
**/.idea
**/.vscode
**/*.iml
**/*.iws
**/*.ipr
**/.mvn/wrapper/maven-wrapper.jar
**/target/
**/node_modules/
**/logs/
**/*.md
**/mvnw.cmd
**/.env
**/.env.local
**/docker-compose*.yml
**/Dockerfile*